---
import {GrillContainer} from "../components/GrillContainer";
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
import Layout from "../layouts/Layout.astro";
import {AnimatedLogo} from "../components/AnimatedLogo";
import {Container} from "../components/Container";
import {Button} from "../components/Button";
import {ExperienceCard} from "../components/ExperienceCard";
import {SubExperienceCard} from "../components/SubExperienceCard";
import {Mail} from "../icons/Mail";
import {GitHub} from "../icons/GitHub";
import {Instagram} from "../icons/Instagram";
import "../styles/about_print.css";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="flex flex-col items-stretch justify-start">
        <GrillContainer
                containerClassOverride="slide-to-top py-8 px-6 lg:mx-auto h-full w-full max-w-screen-xl flex flex-col items-start justify-center gap-2"
        >
            <AnimatedLogo class="-mt-16 w-[32rem] h-[32rem]" slot="absoluteBackground"/>
            <p
                    class="py-2 px-2 m-0 font-head font-bold text-5xl bg-gray-800 text-white
          dark:bg-white dark:text-gray-800 break-keep"
            >
                구효민 <span class="text-xl">Hyomin Koo</span>
            </p>
            <p
                    class="py-2 px-2 m-0 font-head font-bold text-5xl bg-gray-800 text-white
          dark:bg-white dark:text-gray-800 break-keep"
            >
                개발을 합니다. 업으로, 그리고 취미로.
            </p>
            <address class="flex gap-2 flex-wrap">
                <Button href="mailto:me@eatsteak.dev" target="_blank"
                >
                    <span class="text-nowrap">
                        <Mail class="inline w-6 h-6"/>
                        me@eatsteak.dev
                    </span>
                </Button>
                <Button href="https://github.com/eatsteak" target="_blank"
                >
                    <span class="text-nowrap">
                        <GitHub class="inline w-6 h-6"/>
                        eatsteak
                    </span>
                </Button>
                <Button href="https://instagram.com/eatsteak.dev" target="_blank"
                >
                    <span class="text-nowrap">
                        <Instagram class="inline w-6 h-6"/>
                        eatsteak.dev
                    </span>
                </Button>
            </address>
        </GrillContainer>
        <Container varient="wide">
            <section aria-label="요약">
                <p class="text-xl break-keep leading-10 mb-0">
                    <strong>업으로, 그리고 취미로도 개발하는 개발자 구효민(a.k.a. EATSTEAK)입니다.</strong> 다양한 분야에서 새로운 기술을 사용하는 경험을 즐기며,
                    <br/>
                    모두의 불편함을 해소할 수 있는 따끈한 프로덕트를 만들고자, 항상 Best Practice를 찾으며 개발하고자 노력합니다.
                </p>
            </section>
            <section aria-labelledby="work_history" class="flex flex-col gap-4">
                <h1 id="work_history" class="uppercase text-2xl mt-4">경력 / Work History</h1>
                <ExperienceCard title="우마공크리에이티브" subtitle="연구개발부 / CTO" from="2021.04" to="2021.12" hasBorder>
                    <div class="flex flex-col gap-4">
                        <SubExperienceCard title="2021 유튜브 크리에이터 타운"
                                           subtitle="개발 팀장" from="2021.06"
                                           to="2021.11">
                            <p class="mb-0">
                                유튜브 코리아 크리에이터와 함께하는 3일간의 메타버스(마인크래프트) 이벤트 개발 및 운영
                            </p>
                            <ul class="list-disc list-inside">
                                <li>개발 목표 및 일정 관리(MS Teams, Trello 활용)</li>
                                <li>Google Cloud SDK를 활용, Spring Boot 백엔드로 제어되는 자동 서버 관리 개발 보조</li>
                                <li>Pulumi, Docker, GitHub Actions, Nexus Package Manager 등을 활용한 IaC, CI/CD 파이프라인 구축
                                </li>
                                <li>마인크래프트 모드 개발(Kotlin, Java, LWJGL)</li>
                                <li>Spring Boot, JPA, MySQL을 마인크래프트 플러그인과 연동한 사용자 데이터 제어</li>
                            </ul>
                        </SubExperienceCard>
                        <SubExperienceCard title="LS전선 마인크래프트 ESG 공모전 모드 개발"
                                           subtitle="마인크래프트(Kotlin, Java) 개발자"
                                           from="2021.03"
                                           to="2021.09">
                            <p class="mb-0">
                                LS전선 ESG 공모전에 사용된 마인크래프트 모드(발전기, 전기선 등의 아이템 추가) 개발
                            </p>
                        </SubExperienceCard>
                    </div>
                </ExperienceCard>
                <ExperienceCard title="우마공" subtitle="개발자" from="2020.07" to="2021.03" hasBorder={true}>
                    <div class="flex flex-col gap-4">
                        <SubExperienceCard title="우마공 유저 DB"
                                           subtitle="풀스택 1인 개발 / Vue.js(v2), Nuxt.js(v2), Express.js, Mongoose, MongoDB"
                                           from="2020.03"
                                           to="2020.07">
                            <p class="mb-0">
                                마인크래프트 서버 이용 간 악성 이용자 기록용 웹 애플리케이션 - <a class="nav-link"
                                                                        href="https://userdb.ourmc.space"
                                                                        target="_blank">userdb.ourmc.space</a>
                            </p>
                            <ul class="list-disc list-inside">
                                <li>(프론트엔드) Vuex 활용 전역 상태 관리, 유저 업로드 폼 및 관리자 페이지 개발, 네이버 아이디 로그인 연동
                                </li>
                                <li>(백엔드) Express.js 활용 CRUD, Mongoose를 활용한 ORM 매핑, 백엔드 API 문서 공개</li>
                            </ul>
                        </SubExperienceCard>
                        <SubExperienceCard title="2020 유튜브 크리에이터 타운"
                                           subtitle="기획자, 리드 개발자" from="2020.06"
                                           to="2020.12">
                            <p class="mb-0">
                                유튜브 코리아 크리에이터와 함께하는 3일간의 메타버스(마인크래프트) 이벤트 개발 및 운영
                            </p>
                            <ul class="list-disc list-inside">
                                <li>마인크래프트 모드 개발(Kotlin, Java)</li>
                            </ul>
                        </SubExperienceCard>
                        <SubExperienceCard title="메타버스 행사 컨텐츠 개발 - 궁중문화축전, 과천과학관"
                                           subtitle="마인크래프트 개발자 (w/ 샌드박스 네트워크)"
                                           from="2020.03"
                                           to="2020.07">
                            <p class="mb-0">
                                궁중문화축전, 과천과학관 어린이 체험 행사의 메타버스 버전 게임 콘텐츠 개발 및 라이브 서버 운영
                            </p>
                            <ul class="list-disc list-inside">
                                <li>마인크래프트 모드 개발(Kotlin, Java)</li>
                                <li>AWS DynamoDB 활용 유저 및 게임 상태, 데이터 관리</li>
                            </ul>
                        </SubExperienceCard>
                    </div>
                </ExperienceCard>
            </section>
            <section aria-labelledby="education" class="flex flex-col gap-4 pt-4">
                <h1 id="education" class="uppercase text-2xl">학력 / Education</h1>
                <ExperienceCard title="숭실대학교" subtitle="글로벌미디어학부" from="2021.03" hasBorder>
                    <p class="mb-2">3학년 휴학 / GPA 3.92</p>
                    <SubExperienceCard title="글로벌미디어학부 학생회장" from="2021.11" to="2022.11">
                    </SubExperienceCard>
                    <SubExperienceCard title="Yourssu" subtitle="프론트엔드 팀원" from="2021.04">
                        <p class="mb-0">
                            숭실대 내부 서비스를 개발하는 교내 동아리
                        </p>
                        <ul class="list-disc list-inside">
                            <li>숭실대 뭐먹지? - 숭실대 근처 맛집과 메뉴 추천(React, emotion, GA4, Python) - <a class="nav-link"
                                                                                              target="_blank"
                                                                                              href="https://eat.soomsil.de">eat.soomsil.de</a>
                            </li>
                            <li>YDS(Yourssu Design System) - 유어슈 공통 컴포넌트(React, Storybook)</li>
                        </ul>
                    </SubExperienceCard>
                </ExperienceCard>
            </section>
            <section aria-labelledby="projects" class="flex flex-col gap-4 pt-4">
                <h1 id="projects" class="uppercase text-2xl">프로젝트 / Projects</h1>
                <ExperienceCard title="ARCINFO"
                                subtitle="개인 프로젝트 / Vue.js(v2), Nuxt.js(v2), Vuex, Express.js, MongoDB"
                                from="2020.01" to="2021.01"
                                hasBorder>
                    <p class="mb-2"><a href="https://github.com/arc-info/arcinfo" target="_blank"><img
                            class="inline h-7"
                            alt="GitHub Badge"
                            src="https://img.shields.io/badge/github-arc--info/arcinfo-8da0cb?style=for-the-badge&labelColor=555555&logo=github"></a><br/>
                        리듬게임 Arcaea 통계 사이트 (운영 종료) - <a class="nav-link" href="https://arcinfo.eatsteak.xyz"
                                                        target="_blank">arcinfo.eatsteak.xyz</a>

                    </p>
                    <ul class="list-disc list-inside">
                        <li>리듬게임 Arcaea의 내부 기록용 HTTP API를 Fiddler를 활용, 스니핑 및 분석하여 웹 사이트로 편하게 열람할 수 있도록 제작</li>
                        <li>최초 사이트 개설 시 전역 상태 관리를 도입하지 않았으나 기능 추가로 인해 Vuex를 이용한 전역 상태 관리 도입</li>
                        <li>MAU 1000명 / 총 이용자 약 12000명의 서비스로 다양한 국가에서 서비스 이용</li>
                        <li>git submodule을 활용하여 사이트의 i18n만 오픈소스화 한 뒤 서비스에 자동으로 배포(영어, 중국어(간체),
                            광둥어 지원)
                        </li>
                        <li>자체 기록 데이터를 활용하여 난이도 정보 등을 Chart.js로 시각화하여 제공</li>
                        <li>게임사의 관련 서비스 수익화 계획으로 인한 운영 종료</li>
                    </ul>
                </ExperienceCard>
                <ExperienceCard title="숭실대 IT대학 사물함 예약 시스템"
                                subtitle="디자인 및 풀스택 개발 / Svelte, AWS SAM 등"
                                from="2022.12"
                                hasBorder>
                    <p class="mb-2"><a href="https://github.com/Twinsteak/lockerweb" target="_blank"><img
                            class="inline h-7"
                            alt="GitHub Badge"
                            src="https://img.shields.io/badge/github-twinsteak/lockerweb-8da0cb?style=for-the-badge&labelColor=555555&logo=github"></a><br/>
                        숭실대 IT 단과대학에서 사용하는 사물함 예약 시스템

                    </p>
                    <ul class="list-disc list-inside">
                        <li>(디자인) Figma로 반응형 UX/UI 디자인, tailwind 활용 퍼블리싱</li>
                        <li>(프론트엔드) Svelte+SvelteKit을 활용한 SSG 사이트를 S3에 배포, zod를 활용한 Schema Validation</li>
                        <li>(백엔드) AWS SAM을 활용한 Node.js 서버리스 백엔드(Lambda + API Gateway + CloudFront)</li>
                        <li>(DevOps) pnpm workspace 활용하여 프론트엔드, 백엔드 간 타입 정의 공유, AWS CloudFormation, GitHub Actions를 활용한
                            IaC 및 CI/CD 파이프라인 구축
                        </li>
                        <li>숭실대학교 통합 로그인 API를 분석하여 서비스에 적용</li>
                    </ul>
                </ExperienceCard>
                <ExperienceCard title="rusaint"
                                subtitle="개인 프로젝트 / 숭실대 학사 시스템(u-saint) 스크래퍼 / Rust"
                                from="2022.12"
                                hasBorder>
                    <p class="mb-2">
                        <a href="https://github.com/EATSTEAK/rusaint" target="_blank"><img
                                class="inline h-7"
                                alt="GitHub Badge"
                                src="https://img.shields.io/badge/github-eatsteak/rusaint-8da0cb?style=for-the-badge&labelColor=555555&logo=github"></a>
                        <a
                                href="https://docs.rs/rusaint" target="_blank"><img class="inline h-7" alt="docs.rs"
                                                                                    src="https://img.shields.io/badge/docs.rs-rusaint-66c2a5?style=for-the-badge&labelColor=555555&logo=docs.rs"></a><br/>
                        숭실대학교 학사 시스템 u-saint의 기반인 <strong>SAP WebDynpro</strong>를 분석하여 제작한 정적 스크래핑 라이브러리
                    </p>
                    <ul class="list-disc list-inside">
                        <li>scraper, lol_html, reqwest를 활용한 정적 크롤러</li>
                        <li>학사 시스템의 기반 프레임워크를 SAP WebDynpro를 분석, 컴포넌트 레벨로 추상화하여 쉽게 조작/파싱 가능</li>
                        <li>uniffi를 활용한 멀티 플랫폼 지원(Kotlin, Swift, Python)</li>
                        <li>멀티 플랫폼 지원의 한계(Generic 등 언어 기능 사용 불가)를 회피하기 위한 커맨드 패턴 채택 및 구현</li>
                        <li>docs.rs를 통해 라이브러리의 자세한 사용 예제 및 설명 제공</li>
                    </ul>
                </ExperienceCard>
            </section>
            <section aria-labelledby="others" class="flex flex-col pt-4">
                <h1 id="others" class="uppercase text-2xl">기타 이력 / Others</h1>
                <ExperienceCard title="육군 병장 만기 전역" subtitle="체계관리병(전산병) 특기" from="2023.02"
                                to="2024.08"></ExperienceCard>
                <ExperienceCard title="정보처리기능사" to="2023.11"></ExperienceCard>
                <ExperienceCard title="TOEIC" subtitle="900" to="2020.08"></ExperienceCard>
            </section>
        </Container>
    </main>
</Layout>
