---
import type {CollectionEntry} from "astro:content";
import {CategoryLabel} from "./CategoryLabel";
import {FormattedDate} from "./FormattedDate";
import {MinutesRead} from "./MinutesRead";
import {Topics} from "./Topics";
import cc from "classcat";

interface Props {
    post: CollectionEntry<"blog">;
    selected?: boolean;
}

const {post, selected} = Astro.props;
---

<li class="flex align-center gap-2">
    <CategoryLabel category={post.data.category ?? "uncategorized"}/>
    <a href={selected ? "#" : `/post/${post.slug}`}>
        <span class={cc({"nav-link": true, "link-selected": selected})}>{post.data.title}</span>
    </a>
</li>
