---
import type { CollectionEntry, DataEntryMap } from "astro:content";
import { CategoryLabel } from "@/components/ui/CategoryLabel";
import { FormattedDate } from "@/components/FormattedDate";
import { MinutesRead } from "@/components/MinutesRead";
import { Topics } from "@/components/ui/Topics";

interface Props {
  post: CollectionEntry<"slide">;
  minutesRead: number | undefined;
}

const { post, minutesRead } = Astro.props;

const thumbnail = {
  src: `/card/slide/og/${post.slug}.png`,
};
---

<section class="group/post flex flex-col md:flex-row gap-4 border-b py-4">
  <aside class="overflow-clip">
    <a
      href={`/slide/${post.slug}`}
      class="block bg-cover bg-center bg-no-repeat w-full md:w-64 h-64 md:h-full group-hover/post:scale-110 transition-transform spring-bounce-10 spring-duration-200"
      style={{
        "background-image": `url('${thumbnail.src}')`,
      }}
      aria-label={post.data.title}
    >
    </a>
  </aside>
  <article>
    <a href={`/slide/${post.slug}`}>
      <h1 class="text-[1.563em] mt-2">
        <span class="nav-link">{post.data.title}</span>
      </h1>
      <div class="text-xs mb-2 text-gray-500 flex line-between-flex-items">
        <div class="date">
          <FormattedDate dateTime={post.data.pubDate} client:only="solid-js" />
        </div>
        {
          post.data.updatedDate && (
            <div class="updated-date">
              <FormattedDate
                dateTime={post.data.updatedDate as Date}
                client:only="solid-js"
              />
              &nbsp;수정
            </div>
          )
        }
        {
          minutesRead != undefined && (
            <MinutesRead minutesRead={minutesRead as number} />
          )
        }
      </div>

      <div class="text-gray-700 dark:text-gray-300 mb-2">
        {post.data.description}
      </div>
    </a>
    <div class="flex flex-wrap gap-4 items-center">
      <CategoryLabel category={post.data.category ?? "uncategorized"} />{
        post.data.topics && <Topics topics={post.data.topics} />
      }
    </div>
  </article>
</section>
