---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Profile } from "../components/Profile";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, category } = Astro.props;
---

<Layout title={title} description={description}>
  <main
    class="self-center flex justify-between w-full max-w-[96rem] px-6 gap-12"
  >
    <div class="grow flex justify-center">
      <article class="grow max-w-4xl">
        <div class="hero-image">
          {heroImage && <img class="w-4xl" src={heroImage} alt="" />}
        </div>
        <div class="prose">
          <div class="title">
            <legend>{category ?? 'UNCATEGORIZED'}</legend>
            <h1>{title}</h1>
            <div class="date">
              {pubDate}
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on {updatedDate}
                  </div>
                )
              }
            </div>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </div>
    <aside class="grow hidden xl:block max-w-sm">
      <Profile />
      <hr />
    </aside>
  </main>
</Layout>
