---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Profile } from "../components/Profile";
import { FormattedDate } from "../components/FormattedDate";
import { Topics } from "../components/Topics";
import { CategoryLabel } from "../components/CategoryLabel";
import "../styles/prose.css";
import { Counter } from "../components/Counter";

type Props = CollectionEntry<"blog">["data"] & { minutesRead: number };

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  category,
  topics,
  minutesRead,
} = Astro.props;
---

<Layout title={title} description={description}>
  <main
    class="self-center flex flex-wrap justify-between w-full max-w-[96rem] xl:flex-nowrap px-6 lg:px-0 xl:gap-12"
  >
    <div
      class="grow flex flex-wrap justify-center w-full basis-full xl:basis-auto lg:w-auto"
    >
      <article class="w-full max-w-4xl">
        <div class="mb-2 image min-h-[16rem]">
          {heroImage && <img class="max-w-100%" src={heroImage} alt="" />}
        </div>
        <div class="prose">
          <div class="title mb-8">
            <CategoryLabel category={category ?? "uncategorized"} />
            <h1>{title}</h1>
            {
              topics && (
                <div class="topics mb-2">
                  <Topics topics={topics} />
                </div>
              )
            }
            <div class="flex line-between-flex-items">
              <div class="date text-gray-500">
                <FormattedDate dateTime={pubDate} client:only="solid-js" />
              </div>
              {
                updatedDate && (
                  <div class="last-updated-on text-gray-500">
                    |
                    <FormattedDate
                      dateTime={updatedDate}
                      client:only="solid-js"
                    />{" "}
                    수정
                  </div>
                )
              }
              {
                minutesRead && (
                  <div class="minutes-read text-gray-500">
                    {minutesRead < 1
                      ? "1분 미만 소요"
                      : `약 ${Math.round(minutesRead)}분 소요`}
                  </div>
                )
              }
              <Counter path={Astro.url.pathname} client:only="solid-js" />
            </div>
            <hr />
          </div>
          <div class="content">
            <slot />
          </div>
        </div>
      </article>
    </div>
    <aside
      class="grow px-12 py-8 xl:p-0 max-w-[96rem] xl:max-w-sm mx-auto xl:mx-0"
    >
      <hr class="block xl:hidden" />
      <Profile />
      <hr class="hidden xl:block" />
    </aside>
  </main>
</Layout>
