---
import BaseHead from "../components/shell/BaseHead.astro";
import {Footer} from "../components/shell/Footer";
import Header from "../components/shell/Header.astro";

const {
    title,
    description,
    image = "/images/blog-placeholder-1.jpg",
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const page = pathname.slice(1);
---

<!doctype html>
<html lang="ko">
<head>
    <BaseHead title={title} description={description} image={image}/>
</head>
<body
        class="relative -z-30 flex flex-col bg-slate-50 dark:bg-slate-900 dark:text-white transition-colors"
>
<div class="relative -z-20 bg-white dark:bg-slate-950 transition-colors">
    <Header page={page}/>
    <slot/>
</div>

<Footer/>
</body>
</html>
